/* ==UserStyle==
@name         TheDailyWTF-JavexTweaks
@namespace    gitlab.com/Plloi/stylishcss
@version      0.0.1
@license      unlicense
@preprocessor default
==/UserStyle== */

@-moz-document url-prefix("https://thedailywtf.com/") {
    code, pre {
        tab-size: 2;
    }
    
    pre>code {
        font-family: Fira Code, monospace;
        font-size: 10px
    }
}